body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-body {
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  margin-bottom:1.5em;
  background-color:#1B4E5F;
}

.info-card {
  margin:1em;
  border: 1px solid #52FEFE !important;
  -webkit-box-shadow:0 0 8px #52FEFE;
  -moz-box-shadow: 0 0 8px #52FEFE;
  box-shadow:0 0 8px #52FEFE;
  background-color:rgb(24, 24, 24) !important;
  color:#fff;
  margin-bottom:1em;
}

.weather-details-box {
  text-align: left;
  color:#fff;
}

.current-weather-title {
  color:#52FEFE;
  text-align: left;
}

.seven-weather-details-box {
  border: 1px solid #3cbc78 !important;
  -webkit-box-shadow:0 0 7.5px #52FEFE;
  -moz-box-shadow: 0 0 7.5px #52FEFE;
  box-shadow:0 0 7.5px #52FEFE;
  border-radius: .12em;
  text-align: center;
  color:#fff;
  font-size:.75em;
}


.seven-day-column {
  width:4em;
  color:#52FEFE;
  text-align:left;
  font-weight: 700;
}

.weather-row {
  color:white;
  text-align:left;
  text-align:.6em;
  font-size:.8em;
}

.weather-header-row {
  color:#52FEFE;
  font-size: 1em;
  text-align: left;
}

.info-card {
  font-size:.85em;
  font-family: 'Courier New', Courier, monospace;
}

.card-body {
  color:#fff !important;
}

.card-title {
  color:#0a576d !important;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600 !important;;
}

.current-temp {
  color:rgb(239, 236, 236);
  font-weight: 600;
  font-size:1.4em;
  padding-bottom:.5em;
}

.card-hr {
  border: solid #52FEFE 1.2px;
  -webkit-box-shadow:0 0 7.5px #52FEFE;
  -moz-box-shadow: 0 0 7.5px #52FEFE;
  box-shadow:0 0 7.5px #52FEFE;
}

.fullpage-wrapper {
  width: 100%;
  height: 80vh;
  background: rgb(0, 0, 0);
  display: flex;
}
.reactor-container {
  width: 300px;
  height: 300px;
  margin: auto;
  border: 1px dashed #888;
  position: relative;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 32px 8px rgb(18, 20, 20), 0px 0px 4px 1px rgb(18, 20, 20) inset;
}
.reactor-container-inner {
  height: 238px;
  width: 238px;
  background-color: rgb(22, 26, 27);;
  box-shadow: 0px 0px 4px 1px rgb(21, 97, 57);
}

.circle {
  border-radius: 50%;
}
.abs-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.core-inner {
  width: 70px;
  height: 70px;
  border: 5px solid #1B4E5F;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 7px 5px #52FEFE, 0px 0px 10px 10px #52FEFE inset;
}
.core-outer {
  width: 120px;
  height: 120px;
  border: 1px solid #52FEFE;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px 1px #52FEFE, 0px 0px 10px 5px rgb(21, 97, 57) inset;
}
.core-wrapper {
  width: 180px;
  height: 180px;
  background-color: #073c4b;
  box-shadow: 0px 0px 5px 4px #52FEFE, 0px 0px 6px 2px rgb(21, 97, 57) inset;
}
.tunnel {
  width: 220px;
  height: 220px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px 1px #52FEFE, 0px 0px 5px 4px rgb(21, 97, 57) inset;
}
.coil-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: 3s infinite linear reactor-anim;
}
.coil {
  position: absolute;
  width: 30px;
  height: 20px;
  top: calc(50% - 110px);
  left: calc(50% - 15px);
  transform-origin: 15px 110px;
  background-color:#073c4b;
  box-shadow: 0px 0px 5px #52FEFE inset;
}
.coil-1 {
  transform: rotate(0deg);
}
.coil-2 {
  transform: rotate(45deg);
}
.coil-3 {
  transform: rotate(90deg);
}
.coil-4 {
  transform: rotate(135deg);
}
.coil-5 {
  transform: rotate(180deg);
}
.coil-6 {
  transform: rotate(225deg);
}
.coil-7 {
  transform: rotate(270deg);
}
.coil-8 {
  transform: rotate(315deg);
}
@keyframes reactor-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reactor-loading-text {
  color: #0a576d;
  background-color: rgb(0, 0, 0);
  font-size: 2.6em;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
}

.settings-toggle{
  font-size:1em !important;
  color:#fff;
}

.release-notes-text {
  font-size:.75em;
  color:#fff;
  font-weight: 400;
  
}

.release-notes-date {
  font-size:1em;
  color: #0a576d;
  font-weight: 400;
  padding-bottom:.5em;
}

.jarvis-logo {
  width: 3em;
  height: 3em;
  clip-path: circle();
}

.relase-notes-page-title {
  text-align: center;
  color: #52FEFE !important;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}

.Sign-out-link {
  color:#fff;
  font-size:1em;
}

.nav-user-name {
  color: #52FEFE !important;
}

.home-header {
  color: #52FEFE;
}

.home-card-body-text {
  color:#fff !important;
  margin: 0em 1em 1em 1em;
}

.home-title {
  color: #52FEFE;
  text-align: center;
  font-size:2em;
  padding-bottom: .5em;
}

.settings-form-card {
  padding-top:1.5em;
}

.footer-line {
  display:inline-block;
}

.footer-wrapper {
  font-size:.65em;
}

.footer-link {
  text-decoration: none !important;
  color: #fff
}